img{
    height: 30px; 
    width: 30px;
    border-color: black;
    border-width: 2px;
 }
 div{border-radius: 2px;
    position: relative;
    padding: 0.8%;
   margin: 3%;
  display: inline-block;
  color: #ffffff;
 
  text-decoration:none;
  font: 150% bold ;
  font-style: inherit;
  font-weight: 400;
  font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  text-align: center;
  border: solid 3px #ffffff;
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.12);
} 

div:nth-child(1n+0) {
    background-color:#8ffe09;
}
div:nth-child(2n+0) {
    background-color:rgb(31, 192, 255);
}
div:nth-child(3n+0) {
    background-color:#ec2652;
}
 button{  background-color: inherit}   