<div id="paper" ngResizable class="example-boundary">
  <div class="example-box" mwlResizable [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
    [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event)" *ngFor="let item of selectedStickers" cdkDragBoundary=".example-boundary"
    [style.backgroundImage]="'url(http://' + item.path + ')'" cdkDrag>
    <div class="example-handle" cdkDragHandle>
       
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </div>
</div>